body {
    background-color: #8E90A4;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Ubuntu', sans-serif, serif;
}

#block-content {
    padding: 20px;
    margin: 5px;
}

td   {
    padding: 20px;
    text-align: right;
    width: 80px;
}

th, td, .text-box {
    padding-left: 20px;
    padding-right: 20px;
}

header a {
    margin-right: 30px;
    padding: 10px;
    margin-top: 10px;
}

header {
    background-color:#5F9F89;
    margin: 0;
    padding: 10px;
    box-shadow: 1px 1px 1px black;
}

a {
    text-decoration: none;
    color: black;
}

.button a {
    color: white;
}
.main-header {
    font-size: 50px;
    font-weight: bold;
}

.sub-header {
    font-size: 30px;
    font-weight: bold;
}

.main-header, .sub-header {
    padding-top: 15px;
}

.mini-header {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

.main-header, .sub-header, .mini-header {
    padding-bottom: 10px;
}

.header-box {
    display: flex;
    align-items: center;
    gap: 50px;
}

div .alltime-stats {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    gap: 15px;
}

.stats-block {
    background-color: #f7fbec;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 1px 1px 3px black;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-grow: 1;
}

.form-block {
    background-color: #A3D4C3;
    padding-bottom: 15px;
}

.text-box {
    background-color: #DAEBFA;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    max-width: 500px;
}

.stats-block, .text-box {
    border-radius: 5px;
    padding-bottom: 20px;
}

.button, button {
    background-color:#5F9F89;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
    padding: 7px;
    max-width: 120px;
    text-align: center;
}

.delete {
    background-color: #EB92A3;
    width: 60px;
}

.update {
    background-color: #BC81BF;
    width: 60px;
}

button {
    width: 100px;
}

.save {
    background-color:#ECC987;
    color: white;
    font-size: 20px;
}

form p {
    margin-bottom: 15px;
    gap: 15px;
    display: flex;
}

form p label {
    width: 90px;
    min-width: 90px;
}

p {
    font-weight: bold;
    display: flex;
}