body {
    background-color: #DBDBDB;
    display: flex;
    margin: 0;
    font-family: 'Ubuntu', sans-serif, serif;
    justify-content: flex-start;
}

#block-content {
    padding: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    flex-grow: 1;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td   {
    padding: 20px;
    text-align: right;
    width: 80px;
}

td, th {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

th, td, .text-box {
    padding-left: 20px;
    padding-right: 20px;
}

header a {
    padding: 10px;
}

header {
    background-color: #9faaa8;
    margin: 0;
    padding: 15px;
    box-shadow: 1px 1px 1px black;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    width: 150px;
    min-height: 100vh;
    align-items: flex-start;
}

header hr {
    border: none;
    height: 1px;
    background-color: #C7C6C6;
}

a {
    text-decoration: none;
    color: black;
}

#logo {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo a{
    font-size: 45px;
    color: white;
    text-shadow: 1px 1px 4px black;
    text-align: left;
    display: block;
}

header form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

#logout {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

#logout button {
    display: block;
}

.button a {
    color: white;
}

.main-header {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 20px;
}

#index-top {
    padding-top: 30px;
}

.sub-header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.main-header, .sub-header {
    padding-top: 15px;
    margin-left: 35px;
    margin-top: 20px;
}

.mini-header {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

.main-header, .sub-header, .mini-header {
    padding-bottom: 10px;
}

.header-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

#alltime-stats {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    gap: 15px;
    margin-left: 55px;
    margin-bottom: 30px;
}

.stats-block, .form-block, .delete-block {
    box-shadow: 1px 1px 3px black;
    margin: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
}

.stats-block {
    background-color: #f7fbec;
}

.off-row {
    background-color: #e9f0d1;
}

.form-block {
    background-color: #A3D4C3;
}

.delete-block {
    background-color: #EB92A3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box {
    background-color: #DAEBFA;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    max-width: 500px;
}

.stats-block, .text-box, .delete-block, .form-block{
    border-radius: 5px;
    padding-bottom: 20px;
}

div .delete {
    background-color: #EB92A3;
    min-width: 60px;
}

.delete-object {
    background-color: red;
    color: white;
}

.delete-house {
    display: flex;
    gap: 50px;
}

.delete-header {
    text-align: center;
}

div .update {
    background-color: #BC81BF;
    min-width: 60px;
}

.button, button {
    background-color:#5F9F89;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
    padding: 7px;
    max-width: 120px;
    text-align: center;
}

.button {
    margin-left: 35px;
}

button {
    min-width: 100px;
    font-size: 20px;
}

.form-buttons {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 50px;
    gap: 20px;
    margin-top: 30px;
}
.save, .cancel {
    margin: 0 !important;
}
.cancel {
    margin-left: 50px;
    background-color: #EE9ABD;
    width: 90px;
    font-size: 20px;
    height: 27px;
}

.cancel a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.save, .cancel {
    height: 45px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

div .cancel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.save {
    background-color:#ECC987;
    color: white;
    font-size: 20px;
    margin-left: 45px;
    margin-top: 15px;
}

.save.login {
    margin-left: 0;
}

form p {
    margin-bottom: 15px;
    margin-left: 35px;
    gap: 15px;
    display: flex;
}

form p label {
    width: 90px;
    min-width: 90px;
}

p {
    font-weight: bold;
    display: flex;
}

input {
    padding: 5px;
}

.default-message {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35px;
}

hr {
    width: 98%;
}

tbody tr:nth-child(even) {
    background-color: #E9f0D1;
}