{% extends 'base.html' %}

{% block content %}
    <div class="form-block">
        <form method="post">
            {% csrf_token %}
            <div class="main-header">Activity</div>
            {{ form.as_p }}
            <hr>
            <div class="segments-section">
                {{  segments.management_form }}
                <div class="sub-header">Segments</div>
                <table>
                    <thead>
                        <tr>
                            <th>Distance</th>
                            <th>Duration</th>
                            <th>Type</th>
                            <th>Shoe</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s_form in segments %}
                            <tr>
                                <td>{{ s_form.distance }}</td>
                                <td>{{ s_form.duration }}</td>
                                <td>{{ s_form.type }}</td>
                                <td>{{ s_form.shoe }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button type="submit" class="save">Create</button>
        </form>
    </div>
{% endblock content %}