{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="form-block">
        <form method="post">
            {% csrf_token %}
            <div class="main-header">Activity</div>
            {{ form.as_p }}
            <input type="hidden" name="unit_type" id="unit_type" value="mi">
            <hr>
            <div class="segments-section">
                {{  segments.management_form }}
                <div class="sub-header">Segments</div>
                <table>
                    <thead>
                        <tr>
                            <th id="unit-header">Distance</th>
                            <th>Duration</th>
                            <th>Type</th>
                            <th>Shoe</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for segment in segments %}
                            <tr>
                                <td>{{ segment.distance }}</td>
                                <td>{{ segment.duration }}</td>
                                <td>{{ segment.type }}</td>
                                <td>{{ segment.shoe }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        <div class="form-buttons">
            <button type="submit" class="save">Create</button>
            <div class="button cancel">
                <a href="{% url 'activity-list' %}">Cancel</a>
            </div>
        </div>
        </form>
    </div>
    <script src="{% static 'js/form_units.js' %}"></script>
{% endblock content %}