{% extends 'base.html' %}

{% block content %}
<h1>Activities</h1>
    <a href="{% url 'activity-create' %}">Add Activity</a>
    <br>
    <br>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Distance</th>
            <th>Time</th>
            <th>Pace</th>
            <th>Perceived Effort</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for activity in activities %}
        <tr>
            <td><a href="{% url 'activity-detail' activity.id %}">{{ activity.timestamp|date:"m/d/Y" }}</a></td>
            <td>{{ activity.title  }}</td>
            <td>{{ activity.mileage }} mi</td>
            <td>{{ activity.time }}</td>
            <td>{{ activity.pace }}/mi</td>
            <td>{{ activity.perceived_effort }}</td>
            <td><a href="{% url 'activity-update' activity.id%}">Update</a></td>
            <td><a href="{% url 'activity-delete' activity.id%}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}