{% extends 'base.html' %}
{% load unit_tags %}

{% block content %}
    <div class="stats-block">
        <div class="main-header">Activity Details</div>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Distance</th>
                    <th>Time</th>
                    <th>Pace</th>
                    <th>Perceived Effort</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ activity.timestamp|date:"m/d/Y" }}</td>
                    <td>{{ activity.title  }}</td>
                    <td>{{ activity.mileage|as_distance }}</td>
                    <td>{{ activity.time_display }}</td>
                    <td>{% pace_display activity.time.total_seconds activity.mileage activity.pace %}</td>
                    <td>{{ activity.perceived_effort }}</td>
                    <td></td>
                    <td>
                        <div class="button update">
                            <a href="{% url 'activity-update' activity.id%}">Update</a>
                        </div>
                    </td>
                    <td>
                        <div class="button delete">
                            <a href="{% url 'activity-delete' activity.id %}">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        {% if activity.notes %}
        <div class="text-box">
            <div class="mini-header">Notes</div>
            <div>
                {{ activity.notes }}
            </div>
        </div>
        {% endif %}
            <div class="button">
                <a href="{% url 'cycle-detail' activity.cycle.id %}">Go to Cycle</a>
            </div>
        <hr>
        <div class="sub-header">Segments</div>
        {% if activity.segments.all|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Distance</th>
                    <th>Time</th>
                    <th>Pace</th>
                    <th>Shoe</th>
                </tr>
            </thead>
            <tbody>
                {% for segment in activity.segments.all %}
                <tr>
                    <td>{{ segment.get_type_display }}</td>
                    <td>{{ segment.distance_display|as_distance }}</td>
                    <td>{{ segment.time_display }}</td>
                    <td>{% pace_display segment.duration.total_seconds segment.distance segment.pace %}</td>
                    {% if segment.shoe %}
                        {% if segment.shoe.nickname %}
                            <td>
                                <a href="{% url 'shoe-detail' segment.shoe.id%}">{{ segment.shoe.nickname}}</a>
                            </td>
                        {% else %}
                            <td>
                                <a href="{% url 'shoe-detail' segment.shoe.id%}">{{ segment.shoe.brand}}
                                    {{ segment.shoe.model_name }}</a>
                            </td>
                        {% endif %}
                    {% else %}
                        <td>Update to add shoe</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="default-message">No Segments currently associated with this Activity</div>
    {% endif %}
    </div>
{% endblock content %}