{% extends 'base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <h1>Activity</h1>
        {{ form.as_p }}

        <div class="segments-section">
            {{  segments.management_form }}
        <h2>Segments</h2>
        <table>
            <thead>
                <tr>
                    <th>Distance</th>
                    <th>Duration</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for s_form in segments %}
                    <tr>
                        <td>{{ s_form.distance }}</td>
                        <td>{{ s_form.duration }}</td>
                        <td>{{ s_form.type }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <button type="submit">Save</button>
    </form>
{% endblock content %}