{% extends 'base.html' %}
{% load unit_tags %}

{% block content %}
    <div class="stats-block">
        <div class="header-box">
            <div class="main-header">Activities</div>
                <div class="button">
                    <a href="{% url 'activity-create' %}">+ add Activity</a>
                </div>
        </div>
    {% if activities %}
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Distance</th>
                    <th>Time</th>
                    <th>Pace</th>
                    <th>Perceived Effort</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for activity in activities %}
                <tr data-href="{% url 'activity-detail' activity.id%}">
                    <td>{{ activity.timestamp|date:"m/d/Y" }}</td>
                    <td>{{ activity.title  }}</td>
                    <td>{{ activity.mileage|as_distance }}</td>
                    <td>{{ activity.time_display }}</td>
                    <td>{% pace_display activity.time.total_seconds activity.mileage activity.pace %}</td>
                    <td>{{ activity.perceived_effort }}</td>
                    <td></td>
                    <td>
                        <div class="button update">
                            <a href="{% url 'activity-update' activity.id%}">Update</a>
                        </div>
                    </td>
                    <td>
                        <div class="button delete">
                            <a href="{% url 'activity-delete' activity.id%}">Delete</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="default-message">No Activities have been added yet</div>
    {% endif %}
    </div>
{% endblock %}