{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Tempo</title>
</head>
<body>
    <header>
        <div id="logo">Tempo</div>
        <hr>
        <a href="/">Dashboard</a>
        <hr>
        <a href="/blocks/">Blocks</a>
        <hr>
        <a href="/cycles/">Cycles</a>
        <hr>
        <a href="/activities/">Activities</a>
        <hr>
        <a href="/shoes/">Shoes</a>
        <hr>
        <label class="switch">
            <input type="checkbox" id="km_toggle">
            <span class="slider">km</span>
        </label>
        <hr>
        <div id="footer">
            <div>Danny Muñoz</div>
            <div><a href="https://github.com/muno17/Tempo">github</a></div>
        </div>
    </header>
    <div id="block-content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/unit_conversion.js' %}"></script>
    <script src="{% static 'js/row_selector.js' %}"></script>
</body>
</html>