{% extends 'base.html' %}

{% block content %}

<h1>Block Details</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Mileage</th>
            <th>Total Time</th>
            <th>Average Pace</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ current_block.name }}</td>
            <td>{{ current_block.start|date:"m/d/Y"  }}</td>
            <td>{{ current_block.end|date:"m/d/Y"  }}</td>
            <td>{{ current_block.mileage }} mi</td>
            <td>{{ current_block.time }}</td>
            <td>{{ current_block.pace }}/mi</td>
        </tr>
    </tbody>
</table>
    <br>
    <br>
    <br>

<h2>Cycles</h2>
    <a href="{% url 'cycle-create' current_block.id %}">Add Cycle</a>
    <br>
    <br>
<table>
    <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Mileage</th>
            <th>Total Time</th>
            <th>Average Pace</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for cycle in current_block.cycles.all %}
        <tr>
            <td><a href="{% url 'cycle-detail' cycle.id %}">{{ cycle.start|date:"m/d/Y"  }}</a></td>
            <td>{{ cycle.end|date:"m/d/Y"  }}</td>
            <td>{{ cycle.mileage }} mi</td>
            <td>{{ cycle.time }}</td>
            <td>{{ cycle.pace }}/mi</td>
            <td><a href="{% url 'cycle-update' cycle.id%}">Update</a></td>
            <td><a href="{% url 'cycle-delete' cycle.id%}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <br>
    <br>
    <a href="{% url 'block-delete' current_block.id %}">Delete Block</a>
{% endblock content %}