{% extends 'base.html' %}

{% block content %}
<h1>Cycle Details</h1>
<table>
    <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Mileage</th>
            <th>Total Time</th>
            <th>Average Pace</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ cycle.start|date:"m/d/Y"  }}</td>
            <td>{{ cycle.end|date:"m/d/Y"  }}</td>
            <td>{{ cycle.mileage }} mi</td>
            <td>{{ cycle.time }}</td>
            <td>{{ cycle.pace }}/mi</td>
        </tr>
    </tbody>
</table>
    <br>
    {% if cycle.block.id %}
        <a href="{% url 'block-detail' cycle.block.id %}">Go to Block</a>
    {% else %}
        <div>No Block is currently associated with this Cycle, click edit to associate a Block</div>
    {% endif %}
    <br>
    <br>
<h2>Activities</h2>
    <a href="{% url 'activity-create' cycle.id%}">Add Activity</a>
    <br>
    <br>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Distance</th>
            <th>Time</th>
            <th>Pace</th>
        </tr>
    </thead>
    <tbody>
        {% for activity in cycle.activities.all %}
        <tr>
            <td><a href="{% url 'activity-detail' activity.id %}">{{ activity.timestamp|date:"m/d/Y" }}</a></td>
            <td>{{ activity.title  }}</td>
            <td>{{ activity.mileage }} mi</td>
            <td>{{ activity.time }}</td>
            <td>{{ activity.pace }}/mi</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <br>
    <br>
<a href="{% url 'cycle-delete' cycle.id%}">Delete Cycle</a>

{% endblock content %}