{% extends 'base.html' %}
{% load unit_tags %}

{% block content %}
    <div class="stats-block">
        <div class="main-header">Cycle Details</div>
        <table>
            <thead>
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Total Mileage</th>
                    <th>Total Time</th>
                    <th>Average Pace</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ cycle.start|date:"m/d/Y"  }}</td>
                    <td>{{ cycle.end|date:"m/d/Y"  }}</td>
                    <td>{{ cycle.mileage|as_distance }}</td>
                    <td>{{ cycle.time_display }}</td>
                    <td>{% pace_display cycle.time.total_seconds cycle.mileage cycle.pace %}</td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="button update">
                            <a href="{% url 'cycle-update' cycle.id%}">Update</a>
                        </div>
                    </td>
                    <td>
                        <div class="button delete">
                            <a href="{% url 'cycle-delete' cycle.id%}">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
            {% if cycle.block.id %}
            <div class="button">
                <a href="{% url 'block-detail' cycle.block.id %}">Go to Block</a>
            </div>
        {% else %}
            <div class="default-message">No Block is currently associated with this Cycle, click Update to associate a Block</div>
        {% endif %}
        <hr>
        <div class="header-box">
            <div class="sub-header">Activities</div>
            <div class="button">
                <a href="{% url 'activity-create' cycle.id%}">+ add Activity</a>
            </div>
        </div>
        {% if cycle.activities.all|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Distance</th>
                        <th>Time</th>
                        <th>Pace</th>
                        <th>Perceived Effort</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in cycle.activities.all %}
                    <tr data-href="{% url 'activity-detail' activity.id%}">
                        <td>{{ activity.timestamp|date:"m/d/Y" }}</td>
                        <td>{{ activity.title  }}</td>
                        <td>{{ activity.mileage|as_distance }}</td>
                        <td>{{ activity.time_display }}</td>
                        <td>{% pace_display activity.time.total_seconds activity.mileage activity.pace %}</td>
                        <td>{{ activity.perceived_effort }}</td>
                        <td></td>
                        <td>
                            <div class="button update">
                                <a href="{% url 'activity-update' activity.id%}">Update</a>
                            </div>
                        </td>
                        <td>
                            <div class="button delete">
                                <a href="{% url 'activity-delete' activity.id%}">Delete</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="default-message">No Activities currently associated with this Cycle</div>
        {% endif %}
    </div>
{% endblock content %}