{% extends 'base.html' %}

{% block content %}
<h1>Cycles</h1>
<table>
    <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Mileage</th>
            <th>Total Time</th>
            <th>Average Pace</th>
        </tr>
    </thead>
    <tbody>
        {% for cycle in cycles %}
        <tr></tr>
            <td><a href="{% url 'cycle-detail' cycle.id %}">{{ cycle.start|date:"m/d/Y"  }}</a></td>
            <td>{{ cycle.end|date:"m/d/Y"  }}</td>
            <td>{{ cycle.mileage }} mi</td>
            <td>{{ cycle.time }}</td>
            <td>{{ cycle.pace }}/mi</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}