{% extends 'base.html' %}

{% block content %}
    <div class="delete-block">
        <div class="main-header">Are you sure you want to delete this cycle?</div>
        <form method="post">
            {% csrf_token %}
            <div class="delete-house">
                <button type="submit" class="delete-object">Yes, Delete</button>
                <div class="button">
                    <a href="{% url 'cycle-list' %}">Cancel and go back</a>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}