{% extends 'base.html' %}


{% block content %}
    <div class="stats-block">
    <div class="main-header" id="index-top">All-time Stats</div>
    <div class="alltime-stats">
        <div>Total Miles:
            <span class="distance" data-mi="{{ total_miles }}">{{ total_miles }}</span>
            <span class="distance-label">mi</span></div>
        <div>Total Time: {{ total_duration }} Hours</div>
        <div>Total Activities: {{ activity_count }}</div>
    </div>
    {% if latest_block %}
        <hr>
        <a href="{% url 'block-detail' latest_block.id%}">
            <div class="main-header">Latest Block</div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Total Mileage</th>
                        <th>Total Time</th>
                        <th>Average Pace</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="{% url 'block-detail' latest_block.id  %}">{{ latest_block.name }}</a></td>
                        <td>{{ latest_block.start|date:"m/d/Y"  }}</td>
                        <td>{{ latest_block.end|date:"m/d/Y"  }}</td>
                        <td>
                            <span class="distance" data-mi="{{ latest_block.mileage }}">{{ latest_block.mileage }}</span>
                            <span class="distance-label">mi</span></td>
                        <td>{{ latest_block.time }}</td>
                        <td>
                            <span class="pace"
                                  data-seconds="{{ latest_block.time.total_seconds }}"
                                  data-mi-pace="{{ latest_block.pace }}"
                                  data-mi="{{ latest_block.mileage }}">
                                {{ latest_block.pace }}</span>
                            /<span class="distance-label">mi</span>
                        </td>
                        <td></td>
                        <td>
                            <div class="button update">
                                <a href="{% url 'block-update' latest_block.id%}">Update</a>
                            </div>
                        </td>
                        <td>
                            <div class="button delete">
                                <a href="{% url 'block-delete' latest_block.id%}">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </a>
    {% endif %}
    {% if latest_cycle %}
        <hr>
        <a href="{% url 'cycle-detail' latest_cycle.id%}">
        <div class="main-header">Latest Cycle</div>
            <table>
                <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Total Mileage</th>
                        <th>Total Time</th>
                        <th>Average Pace</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ latest_cycle.start|date:"m/d/Y"  }}</td>
                        <td>{{ latest_cycle.end|date:"m/d/Y"  }}</td>
                        <td>{{ latest_cycle.mileage }} mi</td>
                        <td>{{ latest_cycle.time }}</td>
                        <td>{{ latest_cycle.pace }}/mi</td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="button update">
                                <a href="{% url 'cycle-update' latest_cycle.id%}">Update</a>
                            </div>
                        </td>
                        <td>
                            <div class="button delete">
                                <a href="{% url 'cycle-delete' latest_cycle.id%}">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </a>
        <hr>
        <div class="main-header">Latest Activities</div>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Distance</th>
                        <th>Time</th>
                        <th>Pace</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in latest_activities %}
                    <tr>
                        <td><a href="{% url 'activity-detail' activity.id %}">{{ activity.timestamp|date:"m/d/Y" }}</a></td>
                        <td>{{ activity.title  }}</td>
                        <td>{{ activity.mileage }} mi</td>
                        <td>{{ activity.time }}</td>
                        <td>{{ activity.pace }}/mi</td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="button update">
                                <a href="{% url 'activity-update' activity.id%}">Update</a>
                            </div>
                        </td>
                        <td>
                            <div class="button delete">
                                <a href="{% url 'activity-delete' activity.id%}">Delete</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% endif %}
    </div>
{% endblock %}
