{% extends 'base.html' %}

{% block content %}
    <div class="form-block">
        <form method="post">
            {% csrf_token %}
            <div class="main-header">Shoe</div>
            {{ form.as_p }}
            <div class="form-buttons">
                <button type="submit" class="save">Create</button>
                <div class="button cancel">
                    <a href="{% url 'shoe-list' %}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}